<div class="card">
    <div class="card-header">{{informacionMostrar.Country}}</div>
    <div class="card-body">
      <h5 class="card-title">Información</h5>
      <p class="card-text">Confirmados: {{informacionMostrar.NewConfirmed}} / {{informacionMostrar.TotalConfirmed}}</p>
      <p class="card-text">Muertos: {{informacionMostrar.NewDeaths}} / {{informacionMostrar.TotalDeaths}}</p>
      <p class="card-text">Recuperados: {{informacionMostrar.NewRecovered}} / {{informacionMostrar.TotalRecovered}}</p>
    </div>
  </div>
